<meta charset="utf-8">

<title>Weather</title>
<meta name="description" content="">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--fonts-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">

<!-- Template Basic Images Start -->
<meta property="og:image" content="path/to/image.jpg">
<link rel="shortcut icon" href="./assets/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="./assets/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="./assets/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="./assets/favicon/apple-touch-icon-114x114.png">
<!-- Template Basic Images End -->

<!-- Custom Browsers Color Start -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#000">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#000">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#000">
<!-- Custom Browsers Color End -->


<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.min.css">
